body{
    font-size: 20px;
    background-color: black!important;
    color: azure;
}
img {
    width: 100%;
    height: 100%;
}
body {
	background: hsl(120, 40%, 60%);
	font: normal 18px Sniglet; color: white; text-align: center;
}
form input{
	background-color: black!important;
}
 